/*палитра
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif;*/
:root {
  --title-text-color: #212121;
  --acsent-color: #2196f3;
  --secondary-color: #757575;
  --secondary-acsent-color: #ffffff;
}
body {
  font-family: 'Roboto', sans-serif;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}
/*Верхняя линия*/
.logo {
  color: var(--acsent-color);
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: uppercase;
  cursor: pointer;
}
.logo-upline {
  color: #000000;
}
.nav-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--title-text-color);
}
.nav-item:hover,
.nav-item:focus {
  color: var(--acsent-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.list .link.current {
  color: var(--acsent-color);
}
.contacts {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-color);
}
.contacts:hover,
.contacts:focus {
  color: var(--acsent-color);
}
/* Эффективные решения для вашего бизнеса */
.main-section {
  background: #2f303a;
}
.header-main {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--secondary-acsent-color);
}
/* Шапка */
.header-main-button {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-acsent-color);
  background: var(--acsent-color);
}
.header-main-button:hover {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: var(--secondary-acsent-color);
  background: var(--acsent-color);
}
/* Особенности */
.specificsh {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-transform: uppercase;
}
.specifics-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*Чем мы занимаемся*/
.working {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.profession {
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
/*Подвал страницы*/
.footer-contacts {
  background: #2f303a;
}
.logo-down {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--acsent-color);
}
.logo-down-next {
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
}
.address {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
  font-style: normal;
}
.contacts-down {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  font-style: normal;
}
.contacts-down:hover,
.contacts-down:focus {
  color: var(--acsent-color);
}
/*Портфоліо*/
/*.hidden {
}*/
.filters {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
.filters:hover,
.filters:focus {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  color: var(--secondary-acsent-color);
  background: var(--acsent-color);
}
.name-images {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
}
.name-kindofworks {
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--secondary-color);
}
